
       <div class="footer-area black-bg-2 pt-100 fix">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget mb-40">
                        <div class="footer__logo">
                        <a href="index.html"><img style="width:180px;" src="~/images/s2.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="footer__widget mb-40">
                        <h5 class="footer__widget-title">Pagaces</h5>
                        <div class="footer__widget-content">
                            <div class="footer__links">
                                <ul>
                                    <li><a href="/Home/Index">Home</a></li>
                                    <li><a href="/OurService/Index">Services</a></li>
                                    <li><a href="/Product/Index">Products</a></li>
                                    <li><a href="/About/Index">Abouts</a></li>
                                    <li><a href="/Referance/Index">Referances</a></li>
                                    <li><a href="/Contact/Index">Contact</a></li>
                                  
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="footer__widget mb-40">
                        <h5 class="footer__widget-title">Services</h5>
                        <div class="footer__widget-content">
                            <div class="footer__links">
                                <ul>
                                    
                                 <li><a href="/OurService/Index">Nickel plated</a></li>
                                <li><a href="/OurService/Index">Metal covering</a></li>
                                <li><a href="/OurService/Index">Phosphate coating</a></li>
                                <li><a href="/OurService/Index">silver plated</a></li>
                                <li><a href="/OurService/Index">galvanized</a></li>
                                
                                <li><a href="/OurService/Index">Copper Plated</a></li>
                                <li><a href="/OurService/Index">Chrome plated</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="footer__widget mb-40">
                        <h5 class="footer__widget-title">Contact  </h5>
                        <div class="footer__widget-content">
                            <div class="footer__links">
                               
                              <ul>
                        <li >
                            <i id="man" class="fa-regular fa-phone"></i><a href="/OurService/Index">	0212 539 48 28 - 05054103005</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <i  id="sel" class="fa-regular fa-envelope"></i><a hresf="/OurService/Index">	info@halleaksesuar.com </a>
                        </li>
                    </ul>
                     <ul>
                        <li>
                            <i  id="aa" class="fa-solid fa-location-arrow"></i><a hresf="/OurService/Index">Alipaşa Mah.Necati Kartal Sokak 4.etap Sanayi Sitesi No:3 /D Silivri / İstanbul</a>
                        </li>
                    </ul>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__widget mb-40">
                        <h5 class="footer__widget-title">Contact Us!</h5>
                        <div class="footer__widget-content">
                            <p class="ft-text mb-35">
                              Follow us on social media to be informed about our new Services.
                            Find out about the latest news, releases and special offers.
                            </p>
                            <div class="footer__subscribe-form p-relative mb-30">
                                <form action="#">
                                    <input type="email" placeholder="Email Address">
                                    <button type="submit" class="s-button">Subscribe</button>
                                </form>
                            </div>
                            <div class="footer__social">
                                <div class="footer__social-info">
                                    <span>Social Network:</span>
                                    <div class="footer__social-icon">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-behance"></i></a>
                                        <a href="#"><i class="fab fa-youtube"></i></a>
                                        <a href="#"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright white-bg mt-60">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="footer__copyright-text">
                            <p>Copyright &amp; Design By <a href="#">AjansCode</a> - 2022</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="footer__copyright-links text-sm-end">
                        <a href="/OurService/Index">Services </a>
                        <a href="/Product/Index">Product </a>
                        <a href="/Home/Index">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__shape-1">
            <img src="assets/img/footer/footer-shape-1.png" alt="">
        </div>
        <div class="footer__shape-2">
            <img src="assets/img/footer/footer-shape-2.png" alt="">
        </div>
    </div>
    <style>

    #sel {
        font-size: 22px;
    }

    #man {
        font-size: 22px;
    }

    #aa{
        font-size:22px;
    }
        .col-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
   .footer__links ul li a{
       font-size:14px;
       font-family:sans-serif;

   }
</style>