

<header id="header-sticky" class="header-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-2 col-lg-2 col-md-6 col-6">
                  <div class="logo-area menu-area menu-padding ">
                    <div class="logo ">                 <a style="
    width: 504px;
    height: 100px;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
" href="/Home/Index">

                    <img style="width:170px;" class="logo-kd " src="~/images/l1.png" alt="karadumanraf"></a>
                    </div>
   
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 col-md-6 col-6">
                <div class="menu-area menu-padding">
                    <div class="main-menu">
                        <nav id="mobile-menu">
                            <ul>
                                <li class="dropdown">
                                    <a href="/EnHome/Index">Home</a>

                                </li>
                                <li class="dropdown"><a href="/EnOurService/Index">Service</a>

                                <li class="dropdown"><a href="/EnReferance/Index">Referance</a>

                                <li class="dropdown">
                                    <a href="/EnAbout/index">About</a>

                                </li>
                                <li class="dropdown"><a href="/EnProduct/Index">Products</a>

                                <li><a href="/EnContact/Index">Contact</a></li>

                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="side-menu-icon d-lg-none text-end">
                    <a href="javascript:void(0)" class="info-toggle-btn f-right sidebar-toggle-btn"><i class="fal fa-bars"></i></a>
                </div>
            </div>



            <div class="col-xl-3 col-lg-4 d-none d-lg-block">
                <div class="header-info f-right">
                    <div class="info-item info-item-right">
                        <ul class="dropdown">

                            <div class="main-menu">
                                <nav id="mobile-menu">
                                    <ul>


                                        <li class="has-dropdown">
                                            <a href="#"> English</a>
                                            <ul class="sub-menu">
                                                <li><a href="/Home/Index"> Türkçe</a></li>
                                                <li><a href="/EnHome/Index"> English</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                        </ul>


                    </div>





                </div>
            </div>

            <div class="sidebar__area sidebar-opened">
                <div class="sidebar__wrapper">
                    <div class="sidebar__close">
                        <button class="sidebar__close-btn" id="sidebar__close-btn">
                            <i class="fal fa-times"></i>
                        </button>
                    </div>
                    <div class="sidebar__content">
                        <div class="sidebar__logo mb-40">
                            <a href="index.html">
                                <img style="height:70px; width:100px" src="~/images/l1.png" alt="logo">
                            </a>
                        </div>
                        <div class="sidebar__search mb-25">
                        </div>
                        <div class="mobile-menu fix mean-container">
                            <div class="mean-bar">
                                <a href="#nav" class="meanmenu-reveal" style="right: 0px; left: auto; display: inline;"><span><span><span></span></span></span></a><nav class="mean-nav">
                                    <ul style="display: none;">
                                        <li class="dropdown">
                                            <a href="/Home/Index">Anasayfa</a>

                                        </li>
                                        <li class="dropdown">
                                            <a href="/OurService/Index">Hizmetler</a>

                                        </li>
                                        <li class="dropdown">
                                            <a href="/Referance/Index">Referanslar</a>

                                        </li>
                                        <li class="dropdown">
                                            <a href="/About/index">Hakkımızda</a>

                                        </li>
                                        <li class="dropdown">
                                            <a href="/Product/Index">Ürünler</a>

                                        </li>
                                        <li class="mean-last"><a href="/Contact/Index">İletişim</a></li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="sidebar__contact mt-30 mb-20">
                            <ul>
                                <li class="d-flex align-items-center">
                                    <div class="sidebar__contact-icon mr-15">
                                    </div>
                                    <div class="sidebar__contact-text">
                                        <div class="main-menu">
                                            <nav id="mobile-menu">
                                                <ul>

                                                    <li class="has-dropdown">
                                                        <a href="#"> English</a>
                                                        <ul class="sub-menu">
                                                            <li><a href="/Home/Index"> Türkçe</a></li>
                                                            <li><a href="/EnHome/Index"> English</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>

                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</header>
