

<footer>
    <div class="footer-area black-bg-2 pt-100 fix">
        <div class="container">
            <div id="sell" class="row">
                <div class="col-xl-2 col-lg-3 col-md-6 col-8">
                    <div class=" mb-900">
                        <div class="logo ">
                            <a style="

    width: 504px;
    height: 100px;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
" href="/Home/Index">

                                <img style="width:170px; " class="logo-kd " src="~/images/l1.png" alt="karadumanraf">
                            </a>
                        </div>
                      
                          
                 
                    </div>
                </div>
              <div style="margin-top:85px;" class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                  <div class="footer__widget mb-1500">
                        <h5 class="footer__widget-title"></h5>
                        <div class="footer__widget-content">
                            <div class="footer__links">

                                <ul>
                                    <li><a href="/Home/Index">Anasayfa</a></li>
                                    <li><a href="/OurService/Index">Hizmetlerimiz</a></li>
                                    <li><a href="/Product/Index">Ürünlerimiz</a></li>
                                    <li><a href="/About/Index">Hakkımızda</a></li>
                                    <li><a href="/Referance/Index">Referanslar</a></li>
                                    <li><a href="/Contact/Index">İletişim</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            
                
                <div style="margin-top:55px;" class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                    <div class="footer__widget mb-40">
                        <h5 class="footer__widget-title">Bizimle İletişime Geçin!</h5>
                        <div class="footer__widget-content">
                            <p class="ft-text mb-35">
                                 Yeni Hizmetlerimizden haberdar olmak için sosyal medya üzerinden bizi takip edin.
                            en son haberler, sürümler ve özel teklifler hakkında bilgi alın.
                            </p>
                            <div class="footer__subscribe-form p-relative mb-30">
                                <form action="#">
                                    <input type="email" placeholder="Email Address">
                                    <button type="submit" class="s-button">Subscribe</button>
                                </form>
                            </div>
                            <div class="footer__social">
                                <div class="footer__social-info">
                                    <span>İletişim:</span>
                                    <div class="footer__social-icon">
                                        <div class="footer__widget-content">
                                            <div class="footer__links">

                                                <ul>
                                                    <li>
                                                        <i class="fa-regular fa-phone"></i><a href="/OurService/Index">	0212 539 48 28 - 05054103005</a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <i class="fa-regular fa-envelope"></i><a hresf="/OurService/Index">	info@halleaksesuar.com </a>
                                                    </li>
                                                </ul>
                                                <ul>
                                                    <li>
                                                        <i class="fa-solid fa-location-arrow"></i><a hresf="/OurService/Index">Alipaşa Mah.Necati Kartal Sokak 4.etap Sanayi Sitesi No:3 /D Silivri / İstanbul</a>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                        <a href="/Home/Index"><i class="fab fa-facebook-f"></i></a>
                                        <a href="/Home/Index"><i class="fab fa-twitter"></i></a>
                                        <a href="/Home/Index"><i class="fab fa-behance"></i></a>
                                        <a href="/Home/Index"><i class="fab fa-youtube"></i></a>
                                        <a href="/Home/Index"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright white-bg mt-60">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="footer__copyright-text">
                            <p>Copyright &amp; Design By <a href="#">AjansCode</a> - 2022</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="footer__copyright-links text-sm-end">
                            <a href="/OurService/Index">Hizmetler </a>
                            <a href="/Product/Index">Ürünler </a>
                            <a href="/Home/Index">Anasayfa</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__shape-1">
            <img src="assets/img/footer/footer-shape-1.png" alt="">
        </div>
        <div class="footer__shape-2">
            <img src="assets/img/footer/footer-shape-2.png" alt="">
        </div>
    </div>
    <style>
      

    #sel {
        font-size: 22px;
    }

    #man {
        font-size: 22px;
    }

    #aa{
        font-size:22px;
    }
        .col-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
   .footer__links ul li a{
       font-size:14px;
       font-family:sans-serif;

   }

       .sell {
            flex-shrink: 0;
            width: 100%;
            max-width: 100%;
            padding-right: calc(var(--bs-gutter-x) * .5);
            padding-left: calc(var(--bs-gutter-x) * .5);
            margin-top: var(--bs-gutter-y);
        }
         (max-width: 600px) {
          footer {
            width: 100%;
            margin-top: 0;
          }
        }
</style>
</footer>


