
@using Entity
@model IEnumerable<HomeAbout>
<section class="feature__area pb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="feature__left mb-40">
                    <div class="section__wrapper mb-45">
                        <h4 class="section__title">
                            Our Mission
                        </h4>
                        <div class="r-text">
                            <span>Metaliz</span>
                        </div>
                    </div>
                    <div class="feature__list">
                        <ul>
                            <li><a href="/OurService/Index">Achieving our current goals without sacrificing quality <i class="fa-light fa-arrow-right-long"></i></a></li>
                            <li><a href="/OurService/Index">Customer satisfaction is our general aim <i class="fa-light fa-arrow-right-long"></i></a></li>
                            <li><a href="/OurService/Index">To Present New Ideas To Our Customers At The Most Affordable Prices By Always Following The Market Closely <i class="fa-light fa-arrow-right-long"></i></a></li>
                            <li><a href="/OurService/Index"> We always offer solutions with our expert staff. <i class="fa-light fa-arrow-right-long"></i></a></li>
                        </ul>
                    </div>
                </div>  
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="feature__images w-img mb-40">
                    <img src="http://www.gulcehirdavat.com/images/mobilyaayaklari.jpg" alt="">
                    <div class="vide-button">
                        <a href="../../../watch.html?v=o4GuSJYSzrY" class="popup-video"><i class="fa-solid fa-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
