@*@using Entity
@model IEnumerable<About>
 

<section class="about__area pt-120 pb-90">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-xl-6 col-lg-6">
                  <div class="ab-tab-info mb-30">
                     <div class="ab-image w-img">
                        <img src="https://statickelebek.mncdn.com/images/thumbs/0011523_kesonlar.jpeg" alt="">
                     </div>
                     <div class="absp-text absp-text-1">
                        <div class="absp-info">
                       
                        </div>
                     </div>
                     <div class="absp-text absp-text-2">
                        <div class="absp-info">
                      
                        </div>
                     </div>
                  </div>
               </div>
            @foreach (var item in Model)
            {
                <div class="col-xl-6 col-lg-6">
                  <div class="ab-left-content">
                     <div class="section__wrapper mb-30">
                        <h4 class="section__title">@item.AboutTitleEng</h4>
                        <div class="r-text">
                           <span></span>
                        </div>
                     </div>
                     <p class="abd-text">@item.AboutDescriptionEng</p>
                         
                     <div class="ab-button mb-30">
                        <a href="/About/Index" class="tp-btn">daha fazla bilgi edin</a>
                     </div>
                  </div>
               </div>
            }
            
            </div>
         </div>
      </section>
*@