@using Entity
@model List<OurService>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <section class="page__title-area page__title-height page__title-overlay d-flex align-items-center" data-background="https://productimages.hepsiburada.net/s/87/375/110000029466224.jpg">
         <div class="container">
            <div class="row">
               <div class="col-xxl-12">
                  <div class="page__title-wrapper mt-100">                  
                     <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="/Home/Index">Anasayfa</a></li>
                            <li><span>Hizmetler</span></li>
                        </ul>
                    </div>
                     <h3 class="page__title mt-20">Hizmetler</h3>      
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- slider-area-end -->

      <!-- services__area start -->
        
  
      <section class="services__area-2 pt-90 pb-80">
         <div class="container">
            <div class="row mt-30">
    @foreach (var item in Model)
                  {
               <div class="col-xl-3 col-lg-3 col-md-6">
               
                             <div class="services__item services__item-grid text-center mb-40">
                     <div class="services__item-content">
                        <div class="ser__icon mb-30">
                           <i class="@item.FlatIcon"></i>
                        </div>
                        <h5 class="ser__title mb-10"><a href="/Product/Index">@item.Title</a></h5>
                        @*<p>@item.Feature</p>*@
                     
                     </div>
                  </div>
                  
           
               </div>
               }
 
            </div>
         </div>
      </section>
     
      <!-- services__area end -->

      <!-- pricing__area start -->
      
      
      <!-- pricing__area end -->

      <!-- video__area start -->
    
      <!-- video__area end -->

      <!-- blog__area start -->


