@using Entity
@model IEnumerable<Slider>


<section class="slider-area fix">
    <div class="swiper main-slider swiper-container swiper-container-fade swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
        <div class="swiper-wrapper p-relative" id="swiper-wrapper-2b6489362ce4f3f8" aria-live="off" style="transition-duration: 0ms;">
          
          
                <div class=" sliderm-height p-relative swiper-slide swiper-slide-active" data-swiper-slide-index="2" role="group" aria-label="2 / 6" style="width: 1903px; transition-duration: 0ms; opacity: 1; transform: translate3d(-1903px, 0px, 0px);">
                    <div class="slide-bg"></div>
                <video class="full-screenn slide-bg" autoplay="autoplay" playsinline="" muted="" loop="" id="myVideo-1" class="w-100 h-100">
                    <source src="~/assets/img/logo/halle-slider-video.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    <div class="container">
                        <div class="row ">
                            <div class="col-lg-12">
                                <div style="margin-top:350px;" class="slider-contant h-500px ">
                                    <span data-animation="fadeInUp" data-delay=".3s">Ürünleriniz en iyi  </span>
                                    <h2 class="slider-title" data-animation="fadeInUp" data-delay=".6s">Kalitede  Kaplanır  </h2>
                                    <div class="slider-button" data-animation="fadeInUp" data-delay=".9s">
                                        <a href="/Product/Index" class="tp-btn mr-30"> Kaplamalı Ürünler  <i class="fal fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class=" sliderm-height p-relative swiper-slide swiper-slide-active" data-swiper-slide-index="2" role="group" aria-label="2 / 6" style="width: 1903px; transition-duration: 0ms; opacity: 1; transform: translate3d(-1903px, 0px, 0px);">
                <div class="slide-bg"></div>
                <video class="full-screenn slide-bg" autoplay="autoplay" playsinline="" muted="" loop="" id="myVideo-1" class="w-100 h-100">
                    <source src="~/assets/img/logo/halle-slider-video.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-12">
                            <div style="margin-top:350px;" class="slider-contant mt-25">
                                <span data-animation="fadeInUp" data-delay=".3s">istenilen Türde </span>
                                <h2 class="slider-title" data-animation="fadeInUp" data-delay=".6s">Boyama</h2>
                              @*  <div class="slider-button" data-animation="fadeInUp" data-delay=".9s">
                                    <a href="/Product/Index" class="tp-btn mr-30"> Kaplamalı Ürünler<i class="fal fa-angle-right"></i></a>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" sliderm-height p-relative swiper-slide swiper-slide-active" data-swiper-slide-index="2" role="group" aria-label="2 / 6" style="width: 1903px; transition-duration: 0ms; opacity: 1; transform: translate3d(-1903px, 0px, 0px);">
                <div class="slide-bg"></div>
                <video class="full-screenn slide-bg" autoplay="autoplay" playsinline="" muted="" loop="" id="myVideo-1" class="w-100 h-100">
                    <source src="~/assets/img/logo/halle-slider-video.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-12">
                            <div style="margin-top:350px;" class="slider-contant mt-25">
                                <span data-animation="fadeInUp" data-delay=".3s">Kaplamada</span>
                                <h2 class="slider-title" data-animation="fadeInUp" data-delay=".6s">En iyi marka</h2>
                                @*<div class="slider-button" data-animation="fadeInUp" data-delay=".9s">
                                    <a href="/Product/Index" class="tp-btn mr-30"> Kaplamalı Ürünler  <i class="fal fa-angle-right"></i></a>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" sliderm-height p-relative swiper-slide swiper-slide-active" data-swiper-slide-index="2" role="group" aria-label="2 / 6" style="width: 1903px; transition-duration: 0ms; opacity: 1; transform: translate3d(-1903px, 0px, 0px);">
                <div class="slide-bg"></div>
                <video class="full-screenn slide-bg" autoplay="autoplay" playsinline="" muted="" loop="" id="myVideo-1" class="w-100 h-100">
                    <source src="~/assets/img/logo/halle-slider-video.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-12">
                            <div style="margin-top:350px;" class="slider-contant mt-25">
                                <span data-animation="fadeInUp" data-delay=".3s">Müşteri Memnuniyeti </span>
                                <h2 class="slider-title" data-animation="fadeInUp" data-delay=".6s">hedefimiz </h2>
                                @*<div class="slider-button" data-animation="fadeInUp" data-delay=".9s">
                                    <a href="/Product/Index" class="tp-btn mr-30"> Kaplamalı Ürünler <i class="fal fa-angle-right"></i></a>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>


         
          
            
          
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev ms-button" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-2b6489362ce4f3f8"><i class="far fa-long-arrow-left"></i></div>
        <div class="swiper-button-next ms-button" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-2b6489362ce4f3f8"><i class="far fa-long-arrow-right"></i></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
</section>
<section class="main-slider-dot">
    <div class="container">
        <div class="swiper main-slider-nav">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="sm-button">
                     
                        <div class="sm-services__text">
                           
                            <h4>Metalize Kaplama </h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sm-button">

                        <div class="sm-services__text">
                         
                            <h4>Boyama </h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sm-button">

                        <div class="sm-services__text">
                        
                            <h4>Ürün Kaplama </h4>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="sm-button">

                        <div class="sm-services__text">
                     
                            <h4>Aksesuar Kaplama </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>